<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.archimetrix.inference.ui.GeneratingInferenceHandler"
            id="org.reclipse.structure.inference.extended.start"
            name="Start Pattern Based Architecture Analysis">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.archimetrix.ui.main.menu?after=org.archimetrix.relevanceanalysis.findrelevantcomponents.command">
         <command
               commandId="org.reclipse.structure.inference.extended.start"
               label="Start Pattern Based Architecture Analysis"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.reclipse.structure.inference.extended.start"
            icon="icons/start.png">
      </image>
   </extension>

</plugin>
