<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin> 
 <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.archimetrix.menu?after=org.archimetrix.relevanceanalysis.findrelevantbadsmells.command">
         <command
               commandId="architectureprognosis.start"
               icon="icons/architectureprognosis.png"
               id="org.archimetrix.architectureprognosis.menu"
               label="View Architecture Preview"
               style="push">
         </command>
         <separator
               name="org.archimetrix.architectureprognosis.ui.separator"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.archimetrix.relevanceanalysis.ui.relevantBadSmellsView?after=additions">
         <command
               commandId="architectureprognosis.startFromRelevantBadSmellsView"
               icon="icons/architectureprognosis.png"
               label="View Architecture Preview for this Deficiency Occurrence"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.archimetrix.architecturepreview.ui.handler.ArchitecturePreviewStartingHandler"
            id="architectureprognosis.start"
            name="Architecture Preview">
      </command>
      <command
            defaultHandler="org.archimetrix.architecturepreview.ui.handler.ArchitecturePreviewStartingFromRelevantBadSmellsViewHandler"
            id="architectureprognosis.startFromRelevantBadSmellsView"
            name="Architecture Preview">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.archimetrix.views"
            class="org.archimetrix.architecturepreview.ui.views.ArchitecturePreviewView"
            icon="icons/architectureprognosis.png"
            id="org.archimetrix.architectureprognosis.ui.architecturePrognosisView"
            name="Architecture Preview View"
            restorable="true">
      </view>
   </extension>
</plugin>
