<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

 <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.archimetrix.menu?after=org.archimetrix.architectureprognosis.ui.separator">
         <command
               commandId="org.archimetrix.reengineeringstrategieswriter.start"
               label="(Reengineering Strategies Writer)"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.archimetrix.reengineeringstrategieswriter.StartingHandler"
            id="org.archimetrix.reengineeringstrategieswriter.start"
            name="Reengineering Strategies Writer">
      </command>
   </extension>
</plugin>
