<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.storydriven.org/modeling/expressions/PathExpressions" 
       class = "org.storydriven.modeling.expressions.pathExpressions.PathExpressionsPackage"
       genModel = "org/storydriven/modeling/expressions/PathExpressions.genmodel" /> 
	
  </extension>



   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.storydriven.modeling.expressions.pathbridge.PathbridgePackage"
            uri="http://www.storydriven.org/modeling/expressions/pathbridge"
       genModel = "org/storydriven/modeling/expressions/model/bridge.genmodel" > 
      </package>
   </extension>


</plugin>
