<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.mdelab.sdm.interpreter.common.eclipse.expressionInterpreterExtension">
      <expressionInterpreter
            expressionInterpreterClass="org.storydriven.modeling.interpreter.calls.SDCallsInterpreter"
            expressionLanguage="SD Calls">
      </expressionInterpreter>
   </extension>
   <extension
         point="de.mdelab.sdm.interpreter.common.eclipse.expressionInterpreterExtension">
      <expressionInterpreter
            expressionInterpreterClass="org.storydriven.modeling.interpreter.adapter.storypattern.SDPatternsInterpreter"
            expressionLanguage="SD Patterns">
      </expressionInterpreter>
   </extension>

</plugin>
