<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.archimetrix.ui.main.menu"
               label="Archimetrix">
               <visibleWhen checkEnabled="false">
            		<with variable="activeWorkbenchWindow.activePerspective">
                		<equals value="org.archimetrix.commons.extension.ui.perspectives.ArchimetrixPerspective"/>
            		</with>
         		</visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.archimetrix.ui.main.menu">
         <command
               commandId="org.archimetrix.commons.StartGASTExtractionCommand"
               icon="icons/sissy.gif"
               id="org.archimetrix.commons.StartGASTExtractionMenuContribution"
               label="Extract GAST"
               style="push">
         </command>
         <command
               commandId="org.archimetrix.commons.StartArchitectureReconstructionCommand"
               icon="icons/somox_16x16.gif"
               id="org.archimetrix.commons.StartArchitectureReconstructionMenuContribution"
               label="Start Architecture Reconstruction"
               style="push">
         </command>
      </menuContribution>
   </extension>


      <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.archimetrix.commons.extension.ui.perspectives.ArchimetrixPerspective"
            icon="icons/releng_gears.gif"
            id="org.archimetrix.commons.extension.ui.perspectives.ArchimetrixPerspective"
            name="Archimetrix Perspective">
      </perspective>
      </extension>
      
            <extension
            point="org.eclipse.ui.commands">
         <command
               defaultHandler="org.archimetrix.commons.handlers.OpenLaunchDialogHandler"
               id="org.archimetrix.commons.StartArchitectureReconstructionCommand"
               name="Start Architecture Reconstruction">
         </command>
         <command
               defaultHandler="org.archimetrix.commons.handlers.OpenLaunchDialogHandler"
               id="org.archimetrix.commons.StartGASTExtractionCommand"
               name="Extract GAST">
         </command>
      </extension>
</plugin>
