<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>

   <extension point="org.reclipse.structure.specification.metamodel">
      <metamodel
            description="This model  is referred to as the source code decorator model and it combines the SAMM and the GAST model into one."
            id="eu.qimpress.sourcecodedecorator"
            labeler="org.archimetrix.commons.SourceCodeDecoratorLabeler"
            name="Combined SAMM and GAST model"
            version="1.0">
         <package
               uri="http://www.fzi.de/gast/accesses">
         </package>
         <package
               uri="http://www.fzi.de/gast/annotations">
         </package>
         <package
               uri="http://www.fzi.de/gast/core">
         </package>
         <package
               uri="http://www.fzi.de/gast/expressions">
         </package>
         <package
               uri="http://www.fzi.de/gast/functions">
         </package>
         <package
               uri="http://www.fzi.de/gast/metricresults">
         </package>
         <package
               uri="http://www.fzi.de/gast/statements">
         </package>
         <package
               uri="http://www.fzi.de/gast/types">
         </package>
         <package
               uri="http://www.fzi.de/gast/variables">
         </package>
         <package
               uri="http://qimpress.eu/sourcecodedecorator/1.0">
         </package>
         <package
               uri="http://q-impress.eu/samm/staticstructure">
         </package>
      </metamodel>
   </extension>

   <extension point="org.reclipse.metrics.metrics">
      <metric
            acronym="SIZE"
            id="org.reclipse.models.metric2"
            name="This is some Text that should be name!">
      </metric>
   </extension>

   <extension point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.archimetrix.ui.main.menu"
               label="Archimetrix">
         </menu>
      </menuContribution>
   </extension>
</plugin>
